# Advanced Querying Mongo

Importing libraries and setting up connection

In [5]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
db = client.get_database("companies")
collection = db.get_collection("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [9]:
# Your Code
babelgum = list(collection.find({"name": "Babelgum"},{"_id":0, "name":1}))
babelgum

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [16]:
# Your Code
filtro = {"number_of_employees": {"$gt":5000}}
more_than_5k = list(collection.find(filtro,{"_id":0, "number_of_employees":1, "name":1}).sort("number_of_employees",-1).limit(2))
more_than_5k

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [25]:
# Your Code
cond1 = {"founded_year": {"$gte":2000}}
cond2 = {"founded_year": {"$lte":2005}}
combined = {"$and": [cond1, cond2]}
founded_year = list(collection.find(combined,{"_id":0, "founded_year":1, "name":1}).limit(2))
founded_year

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [28]:
# Your Code
cond3 = {"ipo.valuation_amount": {"$gte":100000000}}
cond4 = {"founded_year": {"$lt":2010}}
combined2 = {"$and": [cond3, cond4]}
founded_year = list(collection.find(combined2,{"_id":0, "ipo":1, "name":1}).limit(2))
founded_year

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [29]:
# Your Code
cond5 = {"number_of_employees": {"$lt":1000}}
cond6 = {"founded_year": {"$lt":2005}}
combined = {"$and": [cond5, cond6]}
query5 = list(collection.find(combined,{"_id":0, "founded_year":1, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(2))
query5

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997}]

### 6. All the companies that don't include the `partners` field.

In [34]:
# Your Code
cond7 = {"partners": {"$exists":False}}
query6 = list(collection.find(cond7).limit(2))
query6

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [37]:
# Your Code
cond8 = {"category_code": None}
query7 = list(collection.find(cond8,{"_id":0, "category_code":1, "name":1}).limit(2))
query7

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [38]:
# Your Code
cond9 = {"number_of_employees": {"$gte":100}}
cond10 = {"number_of_employees": {"$lt":10000}}
combined = {"$and": [cond9, cond10]}
query8 = list(collection.find(combined,{"_id":0, "number_of_employees":1, "name":1}).limit(2))
query8

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Zoho', 'number_of_employees': 1600}]

### 9. Order all the companies by their IPO price in a descending order.

In [45]:
# Your Code
cond11 = {"ipo": {"$ne":None}}
cond12 = {"ipo.valuation_amount": {"$ne":None}}
combined = {"$and": [cond11, cond12]}
query9 = list(collection.find(combined,{"_id":0, "ipo":1}).sort("ipo.valuation_amount",-1).limit(2))
query9

[{'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [46]:
# Your Code
cond13 = {"number_of_employees": {"$ne":None}}
cond14 = {"number_of_employees": {"$exists":True}}
combined = {"$and": [cond13, cond14]}
query10 = list(collection.find(combined,{"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(10))
query10

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [51]:
# Your Code
cond15 = {"founded_month": {"$gte":7}}
query11 = list(collection.find(cond15,{"_id":0, "name":1, "founded_month":1}).limit(2))
query11

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [52]:
# Your Code
cond16 = {"founded_year": {"$lt":2000}}
cond17 = {"acquisition.price_amount": {"$gt":1000000}}
combined = {"$and": [cond16, cond17]}
query12 = list(collection.find(combined,{"_id":0, "name":1, "acquisition.price_amount":1}).limit(2))
query12

[{'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep', 'acquisition': {'price_amount': 180000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [53]:
# Your Code
cond18 = {"acquisition.acquired_year": {"$gt":2010}}
query12 = list(collection.find(cond18,{"_id":0, "name":1, "acquisition":1}).sort("acquisition.price_amount",-1).limit(2))
query12

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [54]:
# Your Code
cond1 = {"founded_year": {"$exists":True}}
cond2 = {"founded_year": {"$ne":None}}
combined = {"$and": [cond1, cond2]}
founded_year = list(collection.find(combined,{"_id":0, "founded_year":1, "name":1}).limit(2))
founded_year

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'AdventNet', 'founded_year': 1996}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [57]:
# Your Code
cond1 = {"founded_day": {"$lte":7}}
cond2 = {"founded_day": {"$ne":None}}
combined = {"$and": [cond1, cond2]}
founded_day = list(collection.find(combined,{"_id":0, "founded_day":1, "name":1}).limit(10))
founded_day

[{'name': 'Facebook', 'founded_day': 1},
 {'name': 'Omnidrive', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Geni', 'founded_day': 1},
 {'name': 'Fox Interactive Media', 'founded_day': 1},
 {'name': 'StumbleUpon', 'founded_day': 1},
 {'name': 'Gizmoz', 'founded_day': 1},
 {'name': 'Helio', 'founded_day': 1},
 {'name': 'eBay', 'founded_day': 1},
 {'name': 'Joost', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [60]:
# Your Code
cond1 = {"number_of_employees": {"$gte":4000}}
cond2 = {"category_code": "web"}
combined = {"$and": [cond1, cond2]}
founded_day = list(collection.find(combined,{"_id":0, "category_code":1, "number_of_employees":1, "name":1}).sort("number_of_employees",1).limit(2))
founded_day

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [62]:
# Your Code
cond16 = {"acquisition.price_currency_code": "EUR"}
cond17 = {"acquisition.price_amount": {"$gt":10000000}}
combined = {"$and": [cond16, cond17]}
query12 = list(collection.find(combined,{"_id":0, "name":1, "acquisition.price_currency_code":1, "acquisition.price_amount":1}).limit(2))
query12

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [65]:
# Your Code
cond16 = {"acquisition.acquired_month": {"$lte":3}}
cond17 = {"acquisition": {"$exists":True}}
combined = {"$and": [cond16, cond17]}
query12 = list(collection.find(combined,{"_id":0, "name":1, "acquisition":1}).limit(2))
query12

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [68]:
# Your Code
cond1 = {"founded_year": {"$gte":2000}}
cond2 = {"founded_year": {"$lte":2010}}
cond3 = {"acquisition.acquired_year": {"$gte":2011}}
combined = {"$and": [cond1, cond2, cond3]}
founded_year = list(collection.find(combined,{"_id":0, "founded_year":1, "acquisition.acquired_year":1, "name":1}).limit(2))
founded_year

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [113]:
# Your Code
cond = {"$where" : "this.deadpooled_year > this.founded_year + 3"}
founded_year = list(collection.find(cond,{"_id":0, "founded_year":1, "deadpooled":1, "name":1}).limit(2))
founded_year

[{'name': 'Babelgum', 'founded_year': 2007},
 {'name': 'Thoof', 'founded_year': 2006}]